[submodule "site_frontend"]
	path = frontend
	url = https://github.com/cutsweettea/site_frontend
[submodule "site_messaging"]
	path = messaging
	url = https://github.com/cutsweettea/site_messaging
[submodule "site_cdn"]
	path = cdn
	url = https://github.com/cutsweettea/site_cdn
[submodule "site_backend"]
	path = backend
	url = https://github.com/cutsweettea/site_backend
[submodule "site_admin"]
	path = admin
	url = https://github.com/cutsweettea/site_admin
